@model Technolab.OnlineLibrary.Web.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4 mb-6">Login</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="form-text invalid-feedback"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="form-text invalid-feedback"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div></>

