@model Technolab.OnlineLibrary.Web.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4 mb-6">Reset Password</h1>

@if (ViewBag.PasswordChanged)
{
    <h2>Password has been changed.</h2>
}
else
{
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="mb-3">
                    <label asp-for="NewPassword" class="form-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="form-text invalid-feedback"></span>
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="form-text invalid-feedback"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </div>
            </form>
        </div>
    </div>
}

