@model Technolab.OnlineLibrary.Web.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<h1 class="display-4 mb-6">Change Password</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">New password</label>
                <input asp-for="NewPassword" type="password" class="form-control" />
                <span asp-validation-for="NewPassword" class="form-text invalid-feedback"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label">Confirm new password</label>
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="form-text invalid-feedback"></span>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Change Password</button>
            </div>
        </form>
    </div>
</div></>
